.pl-header {

  &__before {
    background-color: lightyellow;
  }

  &__main {
    background-color: rgba(30,39,49,.95);
    padding: 25px 0;
  }

  &__after {

  }

  &__container {
    @include pr-container;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;

    & > * {
      padding: 0 15px;
    }
  }
}